.sideMenuItems{
    height: 49rem;
    font-size: 18px;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 15rem;
    overflow: hidden;
}
.Side-menu{
    padding-top: 10px;
    overflow: hidden;
    position: fixed;
}
