
.productPath{
    font-weight: bold;
}
.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-row-gap: 2rem;
    z-index: 100;
}
.noProductImg{
    padding-left: 400px;
    width:39rem;
    height: 39rem;
}