.card-container{
    width: 450px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.15);
}

.card-content{
    margin: 1rem;
}
.image-container img{
    width: 100%;
    overflow: hidden;
    height: 300px;
}
.card-btn{
    display: flex;
    justify-content: space-between;
    outline: none;
}
.btn:hover{
    background-color: #deeefb;
}

.card-body{
    text-align: justify;
    height: 7rem;
}
.btn{
    border: none;
    background-color: white;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    border-radius: 10px;

}
.btn-antd{
    font-size: 22px;
}

